<script type="text/javascript" src="./src/polyfills/polyfill.js"></script>
<script type="text/javascript" src="./src/polyfills/cssvars.js"></script>
<script type="text/javascript" src="./src/helpers/helpers.js"></script>
<script type="text/javascript" src="./src/constants/enums.js"></script>
<script type="text/javascript" src="./src/templates/templates.js"></script>
<script type="text/javascript" src="./src/configuration/config.js"></script>
<script type="text/javascript" src="./src/data/data.js"></script>
<script type="text/javascript" src="./src/timeline.js"></script>

<script type="text/javascript" src="./src/components/header.js"></script>
<script type="text/javascript" src="./src/components/columns.js"></script>
<script type="text/javascript" src="./src/components/connections.js"></script>
<script type="text/javascript" src="./src/components/items.js"></script>
<script type="text/javascript" src="./src/components/viewport.js"></script>

<link rel="stylesheet" type="text/css" href="./styles.css" />
<link rel="stylesheet" type="text/css" href="./src/theme/default.css" />
<link rel="stylesheet" type="text/css" href="./src/styles/timeline.css" />

<div id="root"></div>

<script type="text/javascript">
    var timeline = new Timeline(document.getElementById('root'));    
    timeline.init();

    window.addEventListener('onItemMove', function (args) {
        console.log(args);
    });

    window.addEventListener('onItemResize', function (args) {
        console.log(args);
    });

    window.addEventListener('onViewportChange', function (args) {
        console.log(args);
    });

    window.addEventListener('onNewConnection', function (args) {
        console.log(args);
    });

    window.addEventListener('onDataLoaded', function (args) {
        console.log(args);
    });
</script>