@font-face {
  font-family: "KanBoGanttIcons";
  src: url("../fonts/Kanbo-Gantt-arrows.woff") format("woff"), url("../fonts/Kanbo-Gantt-arrows.ttf") format("ttf");
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.timeline * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.timeline > .draggedEmptyNode {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  height: 35px;
  cursor: pointer;
  margin-bottom: 2px;
  background-color: #dfdfdf;
  width: 279px;
  transform: rotate(5deg);
  font-size: 12px;
  position: fixed;
  z-index: 1000; }

.timeline button {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid lightgray; }

.timeline > loader {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url(../images/loader6.gif);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001; }

.timeline > header {
  display: block;
  height: 0px !important;
  width: auto;
  background-color: var(--timeline-header-background);
  font-size: 12px;
  box-sizing: border-box;
  border-bottom: 0px none transparent;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .timeline > header fbox {
    display: block;
    background: #FFF;
    width: 300px;
    height: 400px;
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: -300px;
    /* border-radius: 5px; */
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 9px 20px 29px -8px black;
    border-right: 1px solid lightgray;
    height: calc(100% - 15px);
    -webkit-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    /*
            display: block;
            background: #FFF;
            width: 260px;
            height: 400px;
            position: absolute;
            z-index: 1000;
            top: 55px;
            left: 8px;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            -moz-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            border: 1px solid lightgray;
*/ }
    .timeline > header fbox > title {
      display: block;
      font-size: 14px;
      font-weight: 600;
      padding: 5px;
      color: grey; }
    .timeline > header fbox > .btnClose {
      position: absolute;
      right: 0;
      top: 0;
      background-color: transparent;
      border: 0 none transparent;
      font-size: 15px;
      text-transform: lowercase;
      cursor: pointer;
      border-radius: 0;
      margin: 5px;
      height: 25px;
      width: 25px;
      line-height: 15px; }
      .timeline > header fbox > .btnClose:hover {
        background-color: #dfdfdf; }
    .timeline > header fbox > content {
      display: block;
      padding: 5px;
      font-size: 12px; }
      .timeline > header fbox > content .emptyNodesList {
        overflow: auto;
        display: block;
        height: 100%;
        max-height: calc(100vh - 170px); }
      .timeline > header fbox > content .emptyNodesList .emptyNode {
        display: block;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #dfdfdf;
        height: 35px;
        cursor: pointer;
        margin-bottom: 2px; }
        .timeline > header fbox > content .emptyNodesList .emptyNode:hover {
          background-color: #dfdfdf; }
        .timeline > header fbox > content .emptyNodesList .emptyNode.dragged {
          opacity: 0; }
      .timeline > header fbox > content button {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        display: inline-block;
        margin-right: 5px; }
  .timeline > header > groups {
    display: none !important;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    padding-right: 3px; }
  .timeline > header > filters {
    display: none !important;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    padding-left: 0px; }
  .timeline > header > add {
    display: none !important;
    position: absolute;
    right: 425px;
    top: -47px;
    z-index: 19; }
  .timeline > header > groups button, .timeline > header > filters button, .timeline > header add button {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px; }
  .timeline > header > views {
    display: none !important;
    position: absolute;
    right: 7px;
    top: -47px;
    z-index: 19; }
    .timeline > header > views > button {
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      float: left;
      font-size: 12px; }
      .timeline > header > views > button.selected {
        background-color: #e0dfdf; }
      .timeline > header > views > button:nth-child(1) {
        border-radius: 3px 0 0 3px;
        border-right: 0 none transparent; }
      .timeline > header > views > button:nth-child(2) {
        border-radius: 0;
        border-right: 0 none transparent; }
      .timeline > header > views > button:nth-child(3) {
        border-radius: 0;
        border-right: 0 none transparent; }
      .timeline > header > views > button:nth-child(4) {
        border-radius: 0;
        border-right: 0 none transparent; }
      .timeline > header > views > button:nth-child(5) {
        border-radius: 0;
        border-right: 0 none transparent; }
      .timeline > header > views > button:nth-child(6) {
        border-radius: 0 3px 3px 0; }
      .timeline > header > views > button:nth-child(7) {
        margin-left: 10px;
        width: 35px;
        background-image: url(../images/dots.png);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat; }

.timeline > listHeader {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--leftPanelWidth);
  background-color: white;
  height: 100%;
  background-color: #f5f5f5;
  border-top: 15px solid #dfdfdf;
  box-sizing: content-box; }
  .timeline > listHeader gridHeader {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff; }
    .timeline > listHeader gridHeader > span {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 10px;
      padding-top: 0px;
      height: 50px;
      font-size: 12px;
      border-right: 1px solid lightgray; }
      .timeline > listHeader gridHeader > span > span {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis; }
      .timeline > listHeader gridHeader > span > resize {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        border-right: 2px solid #dfdfdf;
        right: 0;
        cursor: col-resize;
        z-index: 19; }
      .timeline > listHeader gridHeader > span:nth-child(1) {
        width: calc(calc(var(--column0) - 2px) + 10px);
        min-width: calc(calc(var(--column0) - 2px) + 10px);
        padding-left: 22px; }
      .timeline > listHeader gridHeader > span:nth-child(2) {
        width: calc(var(--column1) + 10px);
        min-width: calc(var(--column1) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(3) {
        width: calc(var(--column2) + 10px);
        min-width: calc(var(--column2) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(4) {
        width: calc(var(--column3) + 10px);
        min-width: calc(var(--column3) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(5) {
        width: calc(var(--column4) + 10px);
        min-width: calc(var(--column4) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(6) {
        width: calc(var(--column5) + 10px);
        min-width: calc(var(--column5) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(7) {
        width: calc(var(--column6) + 10px);
        min-width: calc(var(--column6) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(8) {
        width: calc(var(--column7) + 10px);
        min-width: calc(var(--column7) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(9) {
        width: calc(var(--column8) + 10px);
        min-width: calc(var(--column8) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(10) {
        width: calc(var(--column9) + 10px);
        min-width: calc(var(--column9) + 10px); }
      .timeline > listHeader gridHeader > span:nth-child(11) {
        width: calc(var(--column10) + 10px);
        min-width: calc(var(--column10) + 10px); }
      .timeline > listHeader gridHeader > span:hover > resize {
        display: block; }
  .timeline > listHeader > resize {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #dfdfdf;
    right: 0;
    height: 100vh;
    cursor: col-resize;
    z-index: 19; }
    .timeline > listHeader > resize.isMoving {
      background-color: gray; }
  .timeline > listHeader pinlist {
    width: 36px;
    height: 50px;
    top: 0;
    right: 4px;
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .timeline > listHeader pinlist:after {
      display: block;
      font-family: 'KanBoGanttIcons' !important;
      content: "\ea03";
      font-size: 16px;
      color: #000; }
    .timeline > listHeader pinlist:hover {
      background-color: #efefef; }
  .timeline > listHeader > search {
    display: none !important;
    background-image: url(../images/search.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    position: absolute;
    left: 13px;
    top: 7px;
    width: 230px;
    height: 33px;
    border-bottom: 1px solid lightgray; }
    .timeline > listHeader > search > input {
      background-color: transparent;
      border: none;
      height: 35px;
      width: 200px;
      margin-left: 25px;
      outline: none !important; }

.timeline #viewport {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0px;
  right: 0;
  bottom: 0;
  left: var(--leftPanelWidth);
  border-left: 1px solid #c4c4c4;
  border-top: 15px solid #dfdfdf; }
  .timeline #viewport * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */ }
  .timeline #viewport svg {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .timeline #viewport svg > g > path {
      transition: opacity 0.2s ease-in-out;
      pointer-events: stroke;
      stroke: #000;
      stroke-width: 1px;
      fill: none;
      shape-rendering: geometricPrecision;
      marker-end: url(#head); }
      .timeline #viewport svg > g > path[id*='hover_'] {
        stroke-width: 10px;
        stroke: transparent; }
      .timeline #viewport svg > g > path:not([id*='hover_']):hover {
        stroke: darkblue;
        stroke-width: 2px;
        marker-end: url(#headHovered); }
      .timeline #viewport svg > g > path.hover ~ path, .timeline #viewport svg > g > path:hover ~ path {
        stroke: darkblue;
        stroke-width: 2px;
        marker-end: url(#headHovered); }
    .timeline #viewport svg.new path {
      opacity: 0.3; }
    .timeline #viewport svg#newConnection {
      top: 50px;
      z-index: 99;
      cursor: grabbing; }
  .timeline #viewport > masks {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    .timeline #viewport > masks > mask {
      background-color: rgba(119, 98, 140, 0.4);
      display: block !important;
      position: absolute;
      opacity: 0.6;
      border-radius: 5px; }
  .timeline #viewport > items {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
    .timeline #viewport > items > item {
      display: block;
      position: absolute;
      height: var(--cellHeight);
      box-sizing: border-box;
      left: 0;
      right: 0;
      transition: background-color 0.2s ease-out;
      /*
                &.danger shape, &.warning shape {
                    border: 2px solid #e65951;

                    & indicatorRight {
                        top: -2px;
                    }

                    & indicatorLeft {
                        top: -2px;
                    }

                    & attachRight, & attachLeft {
                        padding-top: calc((var(--cellHeight) - 25px) / 2);
                    }
                }

                &.warning shape {
                    border-color: #fb8c00;
                }

                &.warning.progressView shape:after, &.danger.progressView shape:after {
                    height: calc(var(--cellHeight) - 10px);
                    border-bottom: 0 none transparent;
                }
 */ }
      .timeline #viewport > items > item.progressView shape:after {
        display: block;
        content: ' ';
        width: var(--progress);
        max-width: calc(var(--right) - var(--progressMargin));
        background-color: #dedede;
        display: block;
        content: " ";
        height: calc(var(--cellHeight) - 7px);
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        border-radius: 3px;
        border-bottom: 1px solid #d4c7c7;
        border-right: 1px solid #d4c7c7; }
      .timeline #viewport > items > item.progressView.completed:not(.group) shape:after {
        background-color: var(--timeline-color-5) !important;
        width: 100% !important; }
      .timeline #viewport > items > item:nth-child(1) {
        top: 0; }
      .timeline #viewport > items > item:nth-child(2) {
        top: var(--cellHeight); }
      .timeline #viewport > items > item:nth-child(3) {
        top: calc(var(--cellHeight) * 2); }
      .timeline #viewport > items > item:nth-child(4) {
        top: calc(var(--cellHeight) * 3); }
      .timeline #viewport > items > item:nth-child(5) {
        top: calc(var(--cellHeight) * 4); }
      .timeline #viewport > items > item:nth-child(6) {
        top: calc(var(--cellHeight) * 5); }
      .timeline #viewport > items > item:nth-child(7) {
        top: calc(var(--cellHeight) * 6); }
      .timeline #viewport > items > item:nth-child(8) {
        top: calc(var(--cellHeight) * 7); }
      .timeline #viewport > items > item:nth-child(9) {
        top: calc(var(--cellHeight) * 8); }
      .timeline #viewport > items > item:nth-child(10) {
        top: calc(var(--cellHeight) * 9); }
      .timeline #viewport > items > item:nth-child(11) {
        top: calc(var(--cellHeight) * 10); }
      .timeline #viewport > items > item:nth-child(12) {
        top: calc(var(--cellHeight) * 11); }
      .timeline #viewport > items > item:nth-child(13) {
        top: calc(var(--cellHeight) * 12); }
      .timeline #viewport > items > item:nth-child(14) {
        top: calc(var(--cellHeight) * 13); }
      .timeline #viewport > items > item:nth-child(15) {
        top: calc(var(--cellHeight) * 14); }
      .timeline #viewport > items > item:nth-child(16) {
        top: calc(var(--cellHeight) * 15); }
      .timeline #viewport > items > item:nth-child(17) {
        top: calc(var(--cellHeight) * 16); }
      .timeline #viewport > items > item:nth-child(18) {
        top: calc(var(--cellHeight) * 17); }
      .timeline #viewport > items > item:nth-child(19) {
        top: calc(var(--cellHeight) * 18); }
      .timeline #viewport > items > item:nth-child(20) {
        top: calc(var(--cellHeight) * 19); }
      .timeline #viewport > items > item:nth-child(21) {
        top: calc(var(--cellHeight) * 20); }
      .timeline #viewport > items > item:nth-child(22) {
        top: calc(var(--cellHeight) * 21); }
      .timeline #viewport > items > item:nth-child(23) {
        top: calc(var(--cellHeight) * 22); }
      .timeline #viewport > items > item:nth-child(24) {
        top: calc(var(--cellHeight) * 23); }
      .timeline #viewport > items > item:nth-child(25) {
        top: calc(var(--cellHeight) * 24); }
      .timeline #viewport > items > item:nth-child(26) {
        top: calc(var(--cellHeight) * 25); }
      .timeline #viewport > items > item:nth-child(27) {
        top: calc(var(--cellHeight) * 26); }
      .timeline #viewport > items > item:nth-child(28) {
        top: calc(var(--cellHeight) * 27); }
      .timeline #viewport > items > item:nth-child(29) {
        top: calc(var(--cellHeight) * 28); }
      .timeline #viewport > items > item:nth-child(30) {
        top: calc(var(--cellHeight) * 29); }
      .timeline #viewport > items > item:nth-child(31) {
        top: calc(var(--cellHeight) * 30); }
      .timeline #viewport > items > item:nth-child(32) {
        top: calc(var(--cellHeight) * 31); }
      .timeline #viewport > items > item:nth-child(33) {
        top: calc(var(--cellHeight) * 32); }
      .timeline #viewport > items > item:nth-child(34) {
        top: calc(var(--cellHeight) * 33); }
      .timeline #viewport > items > item:nth-child(35) {
        top: calc(var(--cellHeight) * 34); }
      .timeline #viewport > items > item:nth-child(36) {
        top: calc(var(--cellHeight) * 35); }
      .timeline #viewport > items > item:nth-child(37) {
        top: calc(var(--cellHeight) * 36); }
      .timeline #viewport > items > item:nth-child(38) {
        top: calc(var(--cellHeight) * 37); }
      .timeline #viewport > items > item:nth-child(39) {
        top: calc(var(--cellHeight) * 38); }
      .timeline #viewport > items > item:nth-child(40) {
        top: calc(var(--cellHeight) * 39); }
      .timeline #viewport > items > item:nth-child(41) {
        top: calc(var(--cellHeight) * 41); }
      .timeline #viewport > items > item:nth-child(42) {
        top: calc(var(--cellHeight) * 42); }
      .timeline #viewport > items > item:nth-child(43) {
        top: calc(var(--cellHeight) * 43); }
      .timeline #viewport > items > item:nth-child(44) {
        top: calc(var(--cellHeight) * 44); }
      .timeline #viewport > items > item:nth-child(45) {
        top: calc(var(--cellHeight) * 45); }
      .timeline #viewport > items > item:nth-child(46) {
        top: calc(var(--cellHeight) * 46); }
      .timeline #viewport > items > item:nth-child(47) {
        top: calc(var(--cellHeight) * 47); }
      .timeline #viewport > items > item.group {
        border-bottom: 2px solid darkgray;
        margin-top: -15px; }
        .timeline #viewport > items > item.group > header {
          border-bottom: 2px solid darkgray;
          background-color: transparent !important; }
          .timeline #viewport > items > item.group > header > span {
            height: 20px;
            display: inline-block; }
            .timeline #viewport > items > item.group > header > span > add {
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAvSURBVDiNY2AY7KABinECJkptGAYGMCKxG7DIO0DpA1jkGqjiAkKggWE0GocAAACEcAQUzPEyRAAAAABJRU5ErkJggg==);
              image-rendering: pixelated;
              background-repeat: no-repeat;
              background-size: cover;
              width: 20px;
              height: 20px;
              display: inline-block;
              background-size: 15px 15px;
              background-position: center;
              position: absolute;
              margin-left: 10px;
              margin-top: 0px;
              cursor: pointer; }
              .timeline #viewport > items > item.group > header > span > add:hover {
                background-color: #dfdfdf; }
        .timeline #viewport > items > item.group > shape {
          border-radius: 0px; }
          .timeline #viewport > items > item.group > shape > container > span {
            margin-right: 10px; }
          .timeline #viewport > items > item.group > shape:after {
            background-color: var(--progressColor) !important; }
        .timeline #viewport > items > item.group .title {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          font-size: 13px;
          padding: 8.75px;
          padding-left: 10px;
          position: absolute;
          z-index: 1; }
          .timeline #viewport > items > item.group .title > expand {
            top: -1.5px !important; }
      .timeline #viewport > items > item > indicator.left {
        display: block;
        position: absolute;
        max-width: 50px;
        height: var(--cellHeight); }
        .timeline #viewport > items > item > indicator.left:after {
          content: ' ';
          display: block;
          width: 50px;
          height: var(--cellHeight);
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          background-image: url(../images/arrowGo.png);
          background-size: 25px;
          top: 0;
          opacity: 0.5;
          right: 0;
          z-index: 19; }
        .timeline #viewport > items > item > indicator.left:hover:after {
          opacity: 1; }
      .timeline #viewport > items > item > indicator.right {
        display: block;
        position: absolute;
        max-width: 50px;
        height: var(--cellHeight);
        right: 0; }
        .timeline #viewport > items > item > indicator.right:after {
          content: ' ';
          display: block;
          width: 50px;
          height: var(--cellHeight);
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          background-image: url(../images/arrowGo.png);
          transform: rotate(180deg);
          background-size: 25px;
          top: 0;
          opacity: 0.5;
          z-index: 19; }
        .timeline #viewport > items > item > indicator.right:hover:after {
          opacity: 1; }
      .timeline #viewport > items > item > div.noDate-setOne {
        display: block;
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0.5;
        border: 0px none transparent;
        z-index: 1; }
        .timeline #viewport > items > item > div.noDate-setOne:hover {
          background-color: lightgray;
          border: 2px solid darkgray; }
          .timeline #viewport > items > item > div.noDate-setOne:hover:after {
            display: block;
            content: 'Click on right column to set dates...';
            font-size: 10px;
            position: absolute;
            bottom: 5px;
            left: 5px; }
        .timeline #viewport > items > item > div.noDate-setOne.isActive {
          background-color: red;
          /*background-image: url(../images/cancel.png);*/ }
      .timeline #viewport > items > item:hover div.noDate-setOne {
        visibility: visible; }
      .timeline #viewport > items > item > header {
        display: block;
        position: fixed;
        height: var(--cellHeight);
        box-sizing: border-box;
        left: var(--controlLeft);
        width: calc(var(--leftPanelWidth) - 1px);
        min-width: 100px;
        overflow: hidden;
        font-size: 13px;
        padding: calc(var(--cellHeight) / 4);
        border-bottom: 1px solid #ececec;
        transition: background-color 0.2s ease-out;
        background-color: #f5f5f5;
        white-space: nowrap; }
        .timeline #viewport > items > item > header > span {
          display: flex;
          height: 100%; }
        .timeline #viewport > items > item > header > span > span:first-child {
          display: inline-block;
          margin-left: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: calc(calc(var(--cellHeight)/2) - 0px); }
        .timeline #viewport > items > item > header span.empty {
          margin-left: 15px;
          width: var(--column0);
          overflow: hidden;
          text-overflow: ellipsis;
          display: block; }
        .timeline #viewport > items > item > header > span > span:not(:first-child) {
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 10px;
          padding-right: 10px; }
        .timeline #viewport > items > item > header > span > span:nth-child(1) {
          width: var(--column0);
          cursor: pointer; }
          .timeline #viewport > items > item > header > span > span:nth-child(1):hover {
            text-decoration: underline;
            text-decoration-color: #969696;
            text-decoration-thickness: 2px;
            text-underline-position: left; }
        .timeline #viewport > items > item > header > span > span:nth-child(2) {
          width: calc(var(--column1) + 20px);
          min-width: calc(var(--column1) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(3) {
          width: calc(var(--column2) + 20px);
          min-width: calc(var(--column2) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(4) {
          width: calc(var(--column3) + 20px);
          min-width: calc(var(--column3) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(5) {
          width: calc(var(--column4) + 20px);
          min-width: calc(var(--column4) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(6) {
          width: calc(var(--column5) + 20px);
          min-width: calc(var(--column5) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(7) {
          width: calc(var(--column6) + 20px);
          min-width: calc(var(--column6) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(8) {
          width: calc(var(--column7) + 20px);
          min-width: calc(var(--column7) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(9) {
          width: calc(var(--column8) + 20px);
          min-width: calc(var(--column8) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(10) {
          width: calc(var(--column9) + 20px);
          min-width: calc(var(--column9) + 20px); }
        .timeline #viewport > items > item > header > span > span:nth-child(11) {
          width: calc(var(--column10) + 20px);
          min-width: calc(var(--column10) + 20px); }
        .timeline #viewport > items > item > header > span > span {
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
        .timeline #viewport > items > item > header .responsible {
          height: var(--cellHeight);
          display: inline-block;
          overflow: visible;
          position: relative;
          top: -7px;
          text-align: center;
          margin-left: 0;
          text-overflow: unset; }
          .timeline #viewport > items > item > header .responsible > span {
            width: auto; }
        .timeline #viewport > items > item > header .labels {
          height: var(--cellHeight);
          display: inline-block;
          overflow: visible;
          position: relative;
          top: -2px;
          text-align: center;
          margin-left: 0;
          text-overflow: unset !important; }
        .timeline #viewport > items > item > header .status {
          display: inline-block;
          margin-left: 0;
          text-align: center;
          text-overflow: unset !important; }
          .timeline #viewport > items > item > header .status > .circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px; }
            .timeline #viewport > items > item > header .status > .circle.notStarted {
              background-color: transparent; }
            .timeline #viewport > items > item > header .status > .circle.inProgress {
              background-color: lightgray; }
            .timeline #viewport > items > item > header .status > .circle.done {
              background-color: #43a047; }
        .timeline #viewport > items > item > header user {
          display: block;
          position: absolute;
          right: 5px;
          top: 2px;
          height: 30px; }
      .timeline #viewport > items > item > shape {
        position: absolute;
        display: block;
        background-color: #fff;
        border-radius: 3px;
        height: calc(var(--cellHeight) - 6px);
        padding: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-left: 5px;
        margin-right: 4px;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        transition: background-color 0.5s ease-in-out;
        z-index: 1; }
        .timeline #viewport > items > item > shape > container {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-left: 20px;
          color: #000;
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          position: relative;
          z-index: 2;
          height: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          box-sizing: border-box;
          line-height: calc(var(--cellHeight) - 19px);
          min-width: 0; }
          .timeline #viewport > items > item > shape > container > span {
            display: block;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: normal;
            margin-right: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-shrink: 1;
            min-width: 30px; }
          .timeline #viewport > items > item > shape > container edit {
            display: inline-block;
            margin-left: 10px; }
          .timeline #viewport > items > item > shape > container > user {
            display: block; }
        .timeline #viewport > items > item > shape > attachLeft, .timeline #viewport > items > item > shape > attachRight {
          opacity: 1;
          display: block;
          width: 45px;
          height: calc(var(--cellHeight) / 1.5);
          background-color: transparent;
          position: absolute;
          left: -37px;
          top: 0px;
          z-index: 1;
          box-sizing: border-box;
          padding-top: calc((var(--cellHeight) - 21px) / 2);
          cursor: grab; }
          .timeline #viewport > items > item > shape > attachLeft:after, .timeline #viewport > items > item > shape > attachRight:after {
            opacity: 1;
            display: block;
            content: ' ';
            width: 15px;
            height: 15px;
            transform: scale(0);
            background-color: #77628c;
            border-radius: 7.5px;
            z-index: 1;
            box-sizing: border-box;
            transition: transform 0.2s ease-in-out; }
        .timeline #viewport > items > item > shape > attachLeft {
          padding-left: 30px; }
        .timeline #viewport > items > item > shape > attachRight {
          right: -37px;
          left: auto;
          padding-left: 1px; }
        .timeline #viewport > items > item > shape > resizeLeft, .timeline #viewport > items > item > shape > resizeRight {
          opacity: 0;
          display: block;
          width: 12px;
          height: 100%;
          background-color: #77628c;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 3px 0 0 3px;
          z-index: 2;
          background-image: url(../images/resize.png);
          background-size: auto calc(var(--cellHeight) / 1.5);
          background-repeat: no-repeat;
          transition: opacity 0.2s ease-in;
          background-position-y: center;
          background-size: cover;
          cursor: col-resize; }
        .timeline #viewport > items > item > shape > resizeRight {
          left: auto;
          right: 0;
          border-radius: 0 3px 3px 0; }
      .timeline #viewport > items > item.hover > shape {
        background-color: #fff;
        cursor: pointer; }
        .timeline #viewport > items > item.hover > shape > attachLeft:after, .timeline #viewport > items > item.hover > shape > attachRight:after {
          transform: scale(1); }
        .timeline #viewport > items > item.hover > shape > attachRight:hover:after {
          transform: scale(1.1) translateX(15px);
          background-color: #000; }
        .timeline #viewport > items > item.hover > shape > attachLeft:hover:after {
          transform: scale(1.1) translateX(-15px);
          background-color: #000; }
        .timeline #viewport > items > item.hover > shape > resizeLeft, .timeline #viewport > items > item.hover > shape > resizeRight {
          opacity: 100; }
        .timeline #viewport > items > item.hover > shape:hover:after {
          opacity: 1; }
      .timeline #viewport > items > item:not(.hover) > shape:hover {
        background-color: #fff;
        cursor: pointer; }
        .timeline #viewport > items > item:not(.hover) > shape:hover > attachLeft:after, .timeline #viewport > items > item:not(.hover) > shape:hover > attachRight:after {
          transform: scale(1); }
        .timeline #viewport > items > item:not(.hover) > shape:hover > attachRight:hover:after {
          transform: scale(1.1) translateX(15px);
          background-color: #000; }
        .timeline #viewport > items > item:not(.hover) > shape:hover > attachLeft:hover:after {
          transform: scale(1.1) translateX(-15px);
          background-color: #000; }
        .timeline #viewport > items > item:not(.hover) > shape:hover > resizeLeft, .timeline #viewport > items > item:not(.hover) > shape:hover > resizeRight {
          opacity: 100; }
        .timeline #viewport > items > item:not(.hover) > shape:hover:hover:after {
          opacity: 1; }
      .timeline #viewport > items > item[data-hasChildren="true"] shape indicatorLeft {
        display: block;
        position: absolute;
        top: 0;
        left: -50px;
        right: 100%;
        height: calc(var(--cellHeight) - 6px);
        border-left: 3px solid #000;
        background-image: url(../images/line.png);
        background-repeat: repeat-x;
        background-position: left center; }
      .timeline #viewport > items > item[data-hasChildren="true"] shape indicatorRight {
        display: block;
        position: absolute;
        top: 0;
        right: -50px;
        left: 100%;
        height: calc(var(--cellHeight) - 6px);
        border-right: 3px solid #000;
        background-image: url(../images/line.png);
        background-repeat: repeat-x;
        background-position: left center; }
      .timeline #viewport > items > item[data-hasChildren="true"] expand {
        display: block !important;
        flex-shrink: 0;
        position: relative;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        margin-right: 5px; }
        .timeline #viewport > items > item[data-hasChildren="true"] expand:after {
          display: block;
          font-family: 'KanBoGanttIcons' !important;
          content: "\e96d";
          font-size: 12px;
          color: #000; }
      .timeline #viewport > items > item[data-hasChildren="true"] > header > expand {
        margin-right: 0px !important;
        position: absolute;
        top: calc((var(--cellHeight) / 2) - 9px);
        transition: transform 0.2s ease-in-out;
        height: 16px; }
        .timeline #viewport > items > item[data-hasChildren="true"] > header > expand:after {
          display: block;
          font-family: 'KanBoGanttIcons' !important;
          content: "\e96d";
          font-size: 12px;
          color: #000; }
      .timeline #viewport > items > item[data-hasChildren="true"].opened > shape > container > expand {
        transform: rotate(90deg); }
      .timeline #viewport > items > item[data-hasChildren="true"].opened > header > expand {
        transform: rotate(90deg); }
      .timeline #viewport > items > item[data-hasVisibleChildren="true"] expand {
        transform: rotate(90deg);
        background-position: 7px 6px; }
      .timeline #viewport > items > item[data-hasVisibleChildren="true"] > header {
        /*background-color: #d9d9d9;*/ }
      .timeline #viewport > items > item[data-hasVisibleChildren="true"] > header > expand {
        transform: rotate(90deg) !important;
        background-position: 7px 11px; }
      .timeline #viewport > items > item.outOfParentStart shape:before {
        display: block;
        content: ' ';
        background-image: url(../images/nodeback.png);
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        width: 57px;
        z-index: 0;
        border-radius: 3px 0 0 3px;
        opacity: 0.6; }
      .timeline #viewport > items > item.outOfParentEnd shape:after {
        display: block;
        content: ' ';
        background-image: url(../images/nodeback.png);
        height: 35px;
        position: absolute;
        top: 0;
        left: 882px;
        right: 0;
        z-index: 0;
        border-radius: 0 3px 3px 0;
        opacity: 0.6; }
      .timeline #viewport > items > item.danger > shape > container > span:before, .timeline #viewport > items > item.warning > shape > container > span:before {
        display: inline-block;
        font-family: 'KanBoGanttIcons' !important;
        content: "\e9f8";
        font-size: 16px;
        margin-right: 5px;
        color: #e65951; }
      .timeline #viewport > items > item.warning > shape > container > span:before {
        color: #fb8c00 !important; }
      .timeline #viewport > items > item.done {
        opacity: 0.5; }
        .timeline #viewport > items > item.done > header {
          color: gray; }
        .timeline #viewport > items > item.done > shape {
          border: 2px solid #68c768;
          padding-top: 3px; }
          .timeline #viewport > items > item.done > shape attachRight, .timeline #viewport > items > item.done > shape attachLeft {
            padding-top: calc((var(--cellHeight) - 25px) / 2); }
          .timeline #viewport > items > item.done > shape indicatorRight {
            top: -2px; }
          .timeline #viewport > items > item.done > shape indicatorLeft {
            top: -2px; }
      .timeline #viewport > items > item.level1 > header, .timeline #viewport > items > item.level2 > header, .timeline #viewport > items > item.level3 > header, .timeline #viewport > items > item.level4 > header, .timeline #viewport > items > item.level5 > header, .timeline #viewport > items > item.level6 > header, .timeline #viewport > items > item.level7 > header, .timeline #viewport > items > item.level8 > header, .timeline #viewport > items > item.level9 > header, .timeline #viewport > items > item.level10 > header {
        border-left: 10px solid transparent; }
        .timeline #viewport > items > item.level1 > header > span > span:first-child, .timeline #viewport > items > item.level2 > header > span > span:first-child, .timeline #viewport > items > item.level3 > header > span > span:first-child, .timeline #viewport > items > item.level4 > header > span > span:first-child, .timeline #viewport > items > item.level5 > header > span > span:first-child, .timeline #viewport > items > item.level6 > header > span > span:first-child, .timeline #viewport > items > item.level7 > header > span > span:first-child, .timeline #viewport > items > item.level8 > header > span > span:first-child, .timeline #viewport > items > item.level9 > header > span > span:first-child, .timeline #viewport > items > item.level10 > header > span > span:first-child {
          width: calc(var(--column0) - 3px);
          min-width: calc(var(--column0) - 3px); }
      .timeline #viewport > items > item.level2 > header {
        border-left-width: 20px; }
        .timeline #viewport > items > item.level2 > header > span > span:first-child {
          width: calc(var(--column0) - 13px);
          min-width: calc(var(--column0) - 13px); }
      .timeline #viewport > items > item.level3 > header {
        border-left-width: 30px; }
        .timeline #viewport > items > item.level3 > header > span > span:first-child {
          width: calc(var(--column0) - 23px);
          min-width: calc(var(--column0) - 23px); }
      .timeline #viewport > items > item.level4 > header {
        border-left-width: 40px; }
        .timeline #viewport > items > item.level4 > header > span > span:first-child {
          width: calc(var(--column0) - 33px);
          min-width: calc(var(--column0) - 33px); }
      .timeline #viewport > items > item.level5 > header {
        border-left-width: 50px; }
        .timeline #viewport > items > item.level5 > header > span > span:first-child {
          width: calc(var(--column0) - 43px);
          min-width: calc(var(--column0) - 43px); }
      .timeline #viewport > items > item.level6 > header {
        border-left-width: 60px; }
        .timeline #viewport > items > item.level6 > header > span > span:first-child {
          width: calc(var(--column0) - 53px);
          min-width: calc(var(--column0) - 53px); }
      .timeline #viewport > items > item.level7 > header {
        border-left-width: 70px; }
        .timeline #viewport > items > item.level7 > header > span > span:first-child {
          width: calc(var(--column0) - 63px);
          min-width: calc(var(--column0) - 63px); }
      .timeline #viewport > items > item.level8 > header {
        border-left-width: 80px; }
        .timeline #viewport > items > item.level8 > header > span > span:first-child {
          width: calc(var(--column0) - 73px);
          min-width: calc(var(--column0) - 73px); }
      .timeline #viewport > items > item.level9 > header {
        border-left-width: 90px; }
        .timeline #viewport > items > item.level9 > header > span > span:first-child {
          width: calc(var(--column0) - 83px);
          min-width: calc(var(--column0) - 83px); }
      .timeline #viewport > items > item.level10 > header {
        border-left-width: 100px; }
        .timeline #viewport > items > item.level10 > header > span > span:first-child {
          width: calc(var(--column0) - 93px);
          min-width: calc(var(--column0) - 93px); }
      .timeline #viewport > items > item.newConnection > shape > attachRight:after {
        transform: scale(0.5) translateX(30px);
        z-index: 19;
        background-color: #000;
        transition: transform 0.15s ease-in; }
      .timeline #viewport > items > item.newConnection > shape > attachLeft:after {
        transform: scale(0.5) translateX(-30px);
        z-index: 19;
        background-color: #000; }
      .timeline #viewport > items > item:not(.group):not(.dummy):hover {
        background-color: rgba(172, 198, 170, 0.5); }
        .timeline #viewport > items > item:not(.group):not(.dummy):hover > header {
          background-color: rgba(172, 198, 170, 0.5); }
      .timeline #viewport > items > item.hover {
        background-color: rgba(172, 198, 170, 0.5); }
        .timeline #viewport > items > item.hover > header {
          background-color: rgba(172, 198, 170, 0.5); }
      .timeline #viewport > items > item.short shape container {
        position: absolute;
        background-color: #dfdfdf;
        font-size: 12px;
        left: 30px;
        padding: 6px 0;
        width: auto;
        text-indent: 5px;
        display: flex;
        white-space: nowrap !important; }
        .timeline #viewport > items > item.short shape container > expand {
          top: -2px;
          left: 5px; }
        .timeline #viewport > items > item.short shape container > span {
          display: block;
          margin-left: 2px;
          margin-right: 0 !important;
          min-width: 0 !important; }
        .timeline #viewport > items > item.short shape container user {
          display: none !important; }
      .timeline #viewport > items > item.short.group shape > container > span {
        margin-right: 10px !important; }
      .timeline #viewport > items > item.hideUser shape container user {
        display: none !important; }
  .timeline #viewport > columns {
    display: block;
    height: 100%; }
    .timeline #viewport > columns > column {
      display: block;
      position: relative;
      width: 50px;
      height: 100%;
      float: left;
      text-align: center;
      box-sizing: border-box;
      border-left: 1px solid #e6e6e6;
      background-color: #eeeeeefa;
      transition: background-color 0.2s ease-out; }
      .timeline #viewport > columns > column > header {
        display: block;
        height: 50px;
        width: auto;
        background-color: #eeeeee;
        box-sizing: border-box;
        padding-top: 29px;
        transition: background-color 0.2s ease-out;
        line-height: 14px; }
        .timeline #viewport > columns > column > header > div > new {
          text-transform: uppercase;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba(113, 160, 165, 0.5);
          text-align: left;
          white-space: nowrap;
          z-index: 19; }
        .timeline #viewport > columns > column > header > div {
          font-size: 12px;
          font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          display: inline-block;
          padding-bottom: 2px;
          border-bottom: 1px solid #d0d0d0; }
        .timeline #viewport > columns > column > header > div > span:first-child {
          font-size: 12px;
          margin-right: 3px; }
        .timeline #viewport > columns > column > header > div > span:last-child {
          font-size: 10px;
          color: gray; }
      .timeline #viewport > columns > column.newTimePart {
        border-left: 2px solid lightgray !important; }
      .timeline #viewport > columns > column.weekend {
        background-color: #f5f5f5fa; }
        .timeline #viewport > columns > column.weekend > header {
          background-color: #f5f5f5fa;
          border-bottom: 1px solid transparent; }
          .timeline #viewport > columns > column.weekend > header > div > span {
            opacity: 0.5; }
      .timeline #viewport > columns > column.today {
        background-color: rgba(172, 198, 170, 0.98); }
        .timeline #viewport > columns > column.today > header {
          background-color: rgba(172, 198, 170, 0.98); }
        .timeline #viewport > columns > column.today:hover {
          background-color: rgba(33, 150, 243, 0.6) !important; }
          .timeline #viewport > columns > column.today:hover span {
            color: #fff !important; }
      .timeline #viewport > columns > column:hover, .timeline #viewport > columns > column.hover {
        background-color: rgba(33, 150, 243, 0.6); }
        .timeline #viewport > columns > column:hover > header, .timeline #viewport > columns > column.hover > header {
          background-color: rgba(33, 150, 243, 0.6); }
          .timeline #viewport > columns > column:hover > header span, .timeline #viewport > columns > column.hover > header span {
            color: #fff !important; }

.timeline.fullView > #viewport {
  left: 0; }
  .timeline.fullView > #viewport > items > item > header {
    display: none !important; }

.timeline.fullView > listHeader {
  display: none !important; }

.timeline.hideItemHeader > #viewport {
  left: 50px; }
  .timeline.hideItemHeader > #viewport > items > item > header {
    display: none !important; }

.timeline.hideItemHeader > listHeader {
  width: 50px !important;
  height: 100%; }
  .timeline.hideItemHeader > listHeader > resize {
    display: none !important; }
  .timeline.hideItemHeader > listHeader > pinlist:after {
    content: "\ea02" !important; }

.timeline.xl item:not(.short) > shape > container > span {
  white-space: pre-wrap !important;
  -webkit-line-clamp: 2 !important;
  display: -webkit-box !important; }

.timeline .noperm div.noDate-setOne, .timeline .noperm attachLeft, .timeline .noperm attachRight, .timeline .noperm resizeLeft, .timeline .noperm resizeRight {
  display: none !important; }
