@font-face {
    font-family: "KanBoGanttIcons";
    src: url("../fonts/Kanbo-Gantt-arrows.woff") format("woff"),
      url("../fonts/Kanbo-Gantt-arrows.ttf") format("ttf");
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.timeline {
    & * {
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }

    & > .draggedEmptyNode {
        display: block;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #dfdfdf;
        height: 35px;
        cursor: pointer;
        margin-bottom: 2px;
        background-color: #dfdfdf;
        width: 279px;
        transform: rotate(5deg);
        font-size: 12px;
        position: fixed;
        z-index: 1000;
    }

    & button {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid lightgray;
    }

    & > loader {
        display: block;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.4);
        background-image: url(../images/loader6.gif);
        background-repeat: no-repeat;
        background-position: center center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;
    }

    & > header {
        display: block;
        height: 0px !important;
        width: auto;
        background-color: var(--timeline-header-background);
        font-size: 12px;
        box-sizing: border-box;
        border-bottom: 0px none transparent;
        font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        & fbox {
            display: block;
            background: #FFF;
            width: 300px;
            height: 400px;
            position: absolute;
            z-index: 1000;
            top: 15px;
            right: -300px;
            /* border-radius: 5px; */
            padding: 5px;
            box-sizing: border-box;
            box-shadow: 9px 20px 29px -8px black;
            border-right: 1px solid lightgray;
            height: calc(100% - 15px);
            -webkit-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            -moz-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            -ms-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            -o-transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            transition: right 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            /*
            display: block;
            background: #FFF;
            width: 260px;
            height: 400px;
            position: absolute;
            z-index: 1000;
            top: 55px;
            left: 8px;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            -moz-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.61);
            border: 1px solid lightgray;
*/
            & > title {
                display: block;
                font-size: 14px;
                font-weight: 600;
                padding: 5px;
                color: grey;
            }

            & > .btnClose {
                position: absolute;
                right: 0;
                top: 0;
                background-color: transparent;
                border: 0 none transparent;
                font-size: 15px;
                text-transform: lowercase;
                cursor: pointer;
                border-radius: 0;
                margin: 5px;
                height: 25px;
                width: 25px;
                line-height: 15px;

                &:hover {
                    background-color: #dfdfdf;
                }
            }

            & > content {
                display: block;
                padding: 5px;
                font-size: 12px;

                & .emptyNodesList {
                    overflow: auto;
                    display: block;
                    height: 100%;
                    max-height: calc(100vh - 170px);
                }

                & .emptyNodesList .emptyNode {
                    display: block;
                    padding: 8px;
                    box-sizing: border-box;
                    border: 1px solid #dfdfdf;
                    height: 35px;
                    cursor: pointer;
                    margin-bottom: 2px;
                    
                    &:hover {
                        background-color: #dfdfdf;
                    }

                    &.dragged {
                        opacity: 0;
                    }
                }

                & button {
                    width: auto;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 12px;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        & > groups {
            display: none !important;
            float: left;
            padding: 7px;
            box-sizing: border-box;
            padding-right: 3px;
        }

        & > filters {
            display: none !important;
            float: left;
            padding: 7px;
            box-sizing: border-box;
            padding-left: 0px;
        }

        & > add {
            display: none !important;
            position: absolute;
            right: 425px;
            top: -47px;
            z-index: 19;
        }

        & > groups button, & > filters button, & add button {
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
        }

        & > views {
            display: none !important;
            position: absolute;
            right: 7px;
            top: -47px;
            z-index: 19;

            & > button {
                width: auto;
                padding-left: 10px;
                padding-right: 10px;
                float: left;
                font-size: 12px;

                &.selected {
                    background-color: #e0dfdf;
                }

                &:nth-child(1) {
                    border-radius: 3px 0 0 3px;
                    border-right: 0 none transparent;
                }

                &:nth-child(2) {
                    border-radius: 0;
                    border-right: 0 none transparent;
                }
                
                &:nth-child(3) {
                    border-radius: 0;
                    border-right: 0 none transparent;
                }
                
                &:nth-child(4) {
                    border-radius: 0;
                    border-right: 0 none transparent;
                }
                
                &:nth-child(5) {
                    border-radius: 0;
                    border-right: 0 none transparent;
                }
                
                &:nth-child(6) {
                    border-radius: 0 3px 3px 0;
                }
                
                &:nth-child(7) {
                    margin-left: 10px;
                    width: 35px;
                    background-image: url(../images/dots.png);
                    background-size: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    & > listHeader {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--leftPanelWidth);
        background-color: white;
        height: 100%;
        background-color: #f5f5f5;
        border-top: 15px solid #dfdfdf;
        box-sizing: content-box;

        & gridHeader {
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            overflow: hidden;
            background-color: #fff;

            & > span {
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 10px;
                padding-top: 0px;
                height: 50px;
                font-size: 12px;
                border-right: 1px solid lightgray;

                & > span {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                & > resize {
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 5px;
                    border-right: 2px solid #dfdfdf;
                    right: 0;
                    cursor: col-resize;
                    z-index: 19;
                }

                &:nth-child(1) { 
                    width: calc(calc(var(--column0) - 2px) + 10px); 
                    min-width: calc(calc(var(--column0) - 2px) + 10px); 
                    padding-left: 22px;
                }

                &:nth-child(2) {
                    width: calc(var(--column1) + 10px);
                    min-width: calc(var(--column1) + 10px);
                }

                &:nth-child(3) {
                    width: calc(var(--column2) + 10px);
                    min-width: calc(var(--column2) + 10px);
                }

                &:nth-child(4) {
                    width: calc(var(--column3) + 10px);
                    min-width: calc(var(--column3) + 10px);
                }

                &:nth-child(5) {
                    width: calc(var(--column4) + 10px);
                    min-width: calc(var(--column4) + 10px);
                }

                &:nth-child(6) {
                    width: calc(var(--column5) + 10px);
                    min-width: calc(var(--column5) + 10px);
                }
                
                &:nth-child(7) {
                    width: calc(var(--column6) + 10px);
                    min-width: calc(var(--column6) + 10px);
                }
                
                &:nth-child(8) {
                    width: calc(var(--column7) + 10px);
                    min-width: calc(var(--column7) + 10px);
                }
                
                &:nth-child(9) {
                    width: calc(var(--column8) + 10px);
                    min-width: calc(var(--column8) + 10px);
                }
                
                &:nth-child(10) {
                    width: calc(var(--column9) + 10px);
                    min-width: calc(var(--column9) + 10px);
                }
                
                &:nth-child(11) {
                    width: calc(var(--column10) + 10px);
                    min-width: calc(var(--column10) + 10px);
                }

                &:hover {
                    & > resize { display: block; }
                }
            }
        }

        & > resize {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: #dfdfdf;
            right: 0;
            height: 100vh;
            cursor: col-resize;
            z-index: 19;

            &.isMoving {
                background-color: gray;
            }
        }

        & pinlist {
            width: 36px;
            height: 50px;
            top: 0;
            right: 4px;
            position: absolute;
            cursor: pointer;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                display: block;
                font-family: 'KanBoGanttIcons' !important;
                content: "\ea03";
                font-size: 16px;
                color: #000;
            }

            &:hover {
                background-color: #efefef;
            }
        }

        & > search {
            display: none !important;
            background-image: url(../images/search.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 20px;
            position: absolute;
            left: 13px;
            top: 7px;
            width: 230px;
            height: 33px;
            border-bottom: 1px solid lightgray;
            

            & > input {
                background-color: transparent;
                border: none;
                height: 35px;
                width: 200px;
                margin-left: 25px;
                outline: none !important;
            }
        }
    }

    #viewport {
        overflow: hidden;
        position: absolute;
        display: block;
        top: 0px;
        right: 0;
        bottom: 0;
        left: var(--leftPanelWidth);
        border-left: 1px solid #c4c4c4;
        border-top: 15px solid #dfdfdf;

        & * {
            -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
        }

        & svg {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            & > g > path {
                transition: opacity 0.2s ease-in-out;
                pointer-events: stroke;
                stroke: #000;
                stroke-width: 1px;
                fill: none;
                shape-rendering: geometricPrecision;
                marker-end: url(#head);

                &[id*='hover_'] {
                    stroke-width: 10px;
                    stroke: transparent;
                }

                &:not([id*='hover_']):hover {
                    stroke: darkblue;
                    stroke-width: 2px;
                    marker-end: url(#headHovered);
                }

                &.hover ~ path, &:hover ~ path {
                    stroke: darkblue;
                    stroke-width: 2px;
                    marker-end: url(#headHovered);
                }
            }

            &.new {
                & path {
                    opacity: 0.3;
                }
            }

            &#newConnection {
                top: 50px;
                z-index: 99;
                cursor:grabbing;
            }
        }

        & > masks {
            display: block;
            position: absolute;
            overflow: hidden;
            top: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            
            & > mask {
                background-color: rgba(119,98,140,0.4);
                display: block !important;
                position: absolute;
                opacity: 0.6;
                border-radius: 5px;
            }
        }

        & > items {
            display: block;
            position: absolute;
            overflow: hidden;
            top: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;

            & > item {
                display: block;
                position: absolute;
                height: var(--cellHeight);
                box-sizing: border-box;
                left: 0;
                right: 0;
                transition: background-color 0.2s ease-out;

                &.progressView shape {

                    &:after {
                        display: block;
                        content: ' ';
                        width: var(--progress);
                        max-width: calc(var(--right) - var(--progressMargin));
                        background-color: #dedede;
                        display: block;
                        content: " ";
                        height: calc(var(--cellHeight) - 7px);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        top: 0;
                        border-radius: 3px;
                        border-bottom: 1px solid #d4c7c7;
                        border-right: 1px solid #d4c7c7;
                    }
                }

                &.progressView.completed:not(.group) shape {
                    &:after {
                        background-color: var(--timeline-color-5) !important;
                        width: 100% !important;
                    }
                }

                &:nth-child(1) { top: 0 }
                &:nth-child(2) { top: var(--cellHeight) }
                &:nth-child(3) { top: calc(var(--cellHeight) * 2) }
                &:nth-child(4) { top: calc(var(--cellHeight) * 3) }
                &:nth-child(5) { top: calc(var(--cellHeight) * 4) }
                &:nth-child(6) { top: calc(var(--cellHeight) * 5) }
                &:nth-child(7) { top: calc(var(--cellHeight) * 6) }
                &:nth-child(8) { top: calc(var(--cellHeight) * 7) }
                &:nth-child(9) { top: calc(var(--cellHeight) * 8) }
                &:nth-child(10) { top: calc(var(--cellHeight) * 9) }
                &:nth-child(11) { top: calc(var(--cellHeight) * 10) }
                &:nth-child(12) { top: calc(var(--cellHeight) * 11) }
                &:nth-child(13) { top: calc(var(--cellHeight) * 12) }
                &:nth-child(14) { top: calc(var(--cellHeight) * 13) }
                &:nth-child(15) { top: calc(var(--cellHeight) * 14) }
                &:nth-child(16) { top: calc(var(--cellHeight) * 15) }
                &:nth-child(17) { top: calc(var(--cellHeight) * 16) }
                &:nth-child(18) { top: calc(var(--cellHeight) * 17) }
                &:nth-child(19) { top: calc(var(--cellHeight) * 18) }
                &:nth-child(20) { top: calc(var(--cellHeight) * 19) }
                &:nth-child(21) { top: calc(var(--cellHeight) * 20) }
                &:nth-child(22) { top: calc(var(--cellHeight) * 21) }
                &:nth-child(23) { top: calc(var(--cellHeight) * 22) }
                &:nth-child(24) { top: calc(var(--cellHeight) * 23) }
                &:nth-child(25) { top: calc(var(--cellHeight) * 24) }
                &:nth-child(26) { top: calc(var(--cellHeight) * 25) }
                &:nth-child(27) { top: calc(var(--cellHeight) * 26) }
                &:nth-child(28) { top: calc(var(--cellHeight) * 27) }
                &:nth-child(29) { top: calc(var(--cellHeight) * 28) }
                &:nth-child(30) { top: calc(var(--cellHeight) * 29) }
                &:nth-child(31) { top: calc(var(--cellHeight) * 30) }
                &:nth-child(32) { top: calc(var(--cellHeight) * 31) }
                &:nth-child(33) { top: calc(var(--cellHeight) * 32) }
                &:nth-child(34) { top: calc(var(--cellHeight) * 33) }
                &:nth-child(35) { top: calc(var(--cellHeight) * 34) }
                &:nth-child(36) { top: calc(var(--cellHeight) * 35) }
                &:nth-child(37) { top: calc(var(--cellHeight) * 36) }
                &:nth-child(38) { top: calc(var(--cellHeight) * 37) }
                &:nth-child(39) { top: calc(var(--cellHeight) * 38) }
                &:nth-child(40) { top: calc(var(--cellHeight) * 39) }
                &:nth-child(41) { top: calc(var(--cellHeight) * 41) }
                &:nth-child(42) { top: calc(var(--cellHeight) * 42) }
                &:nth-child(43) { top: calc(var(--cellHeight) * 43) }
                &:nth-child(44) { top: calc(var(--cellHeight) * 44) }
                &:nth-child(45) { top: calc(var(--cellHeight) * 45) }
                &:nth-child(46) { top: calc(var(--cellHeight) * 46) }
                &:nth-child(47) { top: calc(var(--cellHeight) * 47) }

                &.group {
                    border-bottom: 2px solid darkgray;
                    margin-top: -15px;

                    & > header {
                        border-bottom: 2px solid darkgray;
                        background-color: transparent !important;

                        & > span {
                            height: 20px;
                            display: inline-block;

                                & > add {
                                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAvSURBVDiNY2AY7KABinECJkptGAYGMCKxG7DIO0DpA1jkGqjiAkKggWE0GocAAACEcAQUzPEyRAAAAABJRU5ErkJggg==);
                                    image-rendering: pixelated;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    width: 20px;
                                    height: 20px;
                                    display: inline-block;
                                    background-size: 15px 15px;
                                    background-position: center;
                                    position: absolute;
                                    margin-left: 10px;
                                    margin-top: 0px;
                                    cursor: pointer;
                            
                                    &:hover {
                                        background-color: #dfdfdf;
                                    }
                            }
                        }
                    }

                    & > shape {
                        border-radius: 0px;

                        & > container > span {
                            margin-right: 10px;
                        }

                        &:after {
                            background-color: var(--progressColor) !important;
                        }
                    }

                    & .title {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        font-size: 13px;
                        padding: 8.75px;
                        padding-left: 10px;
                        position: absolute;
                        z-index: 1;

                        & > expand {
                            top: -1.5px !important;
                        }
                    }
                }

                & > indicator.left {
                    display: block;
                    position: absolute;
                    max-width: 50px;
                    height: var(--cellHeight);

                    &:after {
                        content: ' ';
                        display: block;
                        width: 50px;
                        height: var(--cellHeight);
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: center center;
                        position: absolute;
                        background-image: url(../images/arrowGo.png);
                        background-size: 25px;
                        top:0;
                        opacity: 0.5;
                        right: 0;
                        z-index: 19;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
                
                & > indicator.right {
                    display: block;
                    position: absolute;
                    max-width: 50px;
                    height: var(--cellHeight);
                    right: 0;

                    &:after {
                        content: ' ';
                        display: block;
                        width: 50px;
                        height: var(--cellHeight);
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: center center;
                        position: absolute;
                        background-image: url(../images/arrowGo.png);
                        transform: rotate(180deg);
                        background-size: 25px;
                        top:0;
                        opacity: 0.5;
                        z-index: 19;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }

                & > div.noDate-setOne {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: transparent;    
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 100%;
                    opacity: 0.5;
                    border: 0px none transparent;
                    z-index: 1;

                    &:hover {
                        background-color: lightgray;    
                        border: 2px solid darkgray;

                        &:after {
                            display: block;
                            content: 'Click on right column to set dates...';
                            font-size: 10px;
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                        }
                    }

                    &.isActive {
                        background-color: red;
                        /*background-image: url(../images/cancel.png);*/
                    }
                }

                &:hover div.noDate-setOne {
                    visibility: visible;
                }

                & > header {
                    display: block;
                    position: fixed;
                    height: var(--cellHeight);
                    box-sizing: border-box;
                    left: var(--controlLeft);
                    width: calc(var(--leftPanelWidth) - 1px);
                    min-width: 100px;
                    overflow: hidden;
                    font-size: 13px;
                    padding: calc(var(--cellHeight) / 4);
                    border-bottom: 1px solid #ececec;
                    transition: background-color 0.2s ease-out;
                    background-color: #f5f5f5;
                    white-space: nowrap;

                    & > span {
                        display: flex;
                        height: 100%;
                    }

                    & > span > span:first-child {
                        display: inline-block;
                        margin-left: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: calc(calc(var(--cellHeight)/2) - 0px);
                    }

                    & span.empty {
                        margin-left: 15px;
                        width: var(--column0);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                    }

                    & > span > span:not(:first-child) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    & > span {
                        & > span:nth-child(1) { 
                            width: var(--column0);
                            cursor: pointer;
                        
                            &:hover {
                                text-decoration: underline;
                                text-decoration-color: #969696;
                                text-decoration-thickness: 2px;
                                text-underline-position: left;
                            }
                        }
                        & > span:nth-child(2) { width: calc(var(--column1) + 20px); min-width: calc(var(--column1) + 20px); }
                        & > span:nth-child(3) { width: calc(var(--column2) + 20px); min-width: calc(var(--column2) + 20px); }
                        & > span:nth-child(4) { width: calc(var(--column3) + 20px); min-width: calc(var(--column3) + 20px); }
                        & > span:nth-child(5) { width: calc(var(--column4) + 20px); min-width: calc(var(--column4) + 20px); }
                        & > span:nth-child(6) { width: calc(var(--column5) + 20px); min-width: calc(var(--column5) + 20px); }
                        & > span:nth-child(7) { width: calc(var(--column6) + 20px); min-width: calc(var(--column6) + 20px); }
                        & > span:nth-child(8) { width: calc(var(--column7) + 20px); min-width: calc(var(--column7) + 20px); }
                        & > span:nth-child(9) { width: calc(var(--column8) + 20px); min-width: calc(var(--column8) + 20px); }
                        & > span:nth-child(10) { width: calc(var(--column9) + 20px); min-width: calc(var(--column9) + 20px); }
                        & > span:nth-child(11) { width: calc(var(--column10) + 20px); min-width: calc(var(--column10) + 20px); }
                    }

                    & > span > span {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

                    & .responsible {
                        height: var(--cellHeight);
                        display: inline-block;
                        overflow: visible;
                        position: relative;
                        top: -7px;
                        text-align: center;
                        margin-left: 0;
                        text-overflow: unset;

                        & > span {
                            width: auto;
                        }
                    }

                    & .labels {
                        height: var(--cellHeight);
                        display: inline-block;
                        overflow: visible;
                        position: relative;
                        top: -2px;
                        text-align: center;
                        margin-left: 0;
                        text-overflow: unset !important;
                    }

                    & .status {
                        display: inline-block;
                        margin-left: 0;
                        text-align: center;
                        text-overflow: unset !important;

                        & > .circle {
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 5px;

                            &.notStarted {
                                background-color: transparent;
                            }

                            &.inProgress {
                                background-color: lightgray;
                            }

                            &.done {
                                background-color: #43a047;
                            }
                        }
                    }

                    & user {
                        display: block;
                        position: absolute;
                        right: 5px;
                        top: 2px;
                        height: 30px;
                    }
                }

                & > shape {
                    position: absolute;
                    display: block;
                    background-color: #fff;
                    border-radius: 3px;
                    height: calc(var(--cellHeight) - 6px);
                    padding: 5px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    box-sizing: border-box;
                    margin-top: 3px;
                    margin-left: 5px;
                    margin-right: 4px;
                    border-right: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;
                    transition: background-color 0.5s ease-in-out;
                    z-index: 1;

                    & > container {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-left: 20px;
                        color: #000;
                        font-size: 13px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        position: relative;
                        z-index: 2;
                        height: 100%;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        box-sizing: border-box;
                        line-height: calc(var(--cellHeight) - 19px);
                        min-width: 0;

                        & > span {
                            display: block;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            line-height: normal;
                            margin-right: 5px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            //line-height: calc(var(--cellHeight) / 2.6);
                            flex-shrink: 1;
                            min-width: 30px;
                        }

                        & edit {
                            display: inline-block;
                            margin-left: 10px;
                        }

                        & > user {
                            display: block;
                        }
                    }

                    & > attachLeft, & > attachRight {
                        opacity: 1;
                        display: block;
                        width: 45px;
                        height: calc(var(--cellHeight) / 1.5);
                        background-color: transparent;
                        position: absolute;
                        left: -37px;
                        top: 0px;
                        z-index: 1;
                        box-sizing: border-box;
                        padding-top: calc((var(--cellHeight) - 21px) / 2);
                        cursor: grab;

                        &:after {
                            opacity: 1;
                            display: block;
                            content: ' ';
                            width: 15px;
                            height: 15px;
                            transform: scale(0);
                            background-color: #77628c;
                            border-radius: 7.5px;
                            z-index: 1;
                            box-sizing: border-box;
                            transition: transform 0.2s ease-in-out;
                        }
                    }

                    & > attachLeft {
                        padding-left: 30px;
                    }

                    & > attachRight {
                        right: -37px;
                        left: auto;
                        padding-left: 1px;
                    }

                    & > resizeLeft, & > resizeRight {
                        opacity: 0;
                        display: block;
                        width: 12px;
                        height: 100%;
                        background-color: #77628c;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 3px 0 0 3px;
                        z-index: 2;
                        background-image: url(../images/resize.png);
                        background-size: auto calc(var(--cellHeight) / 1.5);
                        background-repeat: no-repeat;
                        transition: opacity 0.2s ease-in;
                        background-position-y: center;
                        background-size: cover;
                        cursor: col-resize;
                    }
                    
                    & > resizeRight {
                        left: auto;
                        right: 0;
                        border-radius: 0 3px 3px 0;
                    }
                }

                &.hover > shape {
                    background-color: #fff;
                    cursor: pointer;

                    & > attachLeft:after, & > attachRight:after {
                        transform: scale(1);
                    }

                    & > attachRight:hover:after {
                        transform: scale(1.1) translateX(15px);
                        background-color: #000;
                    }
        
                    & > attachLeft:hover:after {
                        transform: scale(1.1) translateX(-15px);
                        background-color: #000;
                    }

                    & > resizeLeft, & > resizeRight {
                        opacity: 100;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }

                &:not(.hover) > shape:hover {
                    background-color: #fff;
                    cursor: pointer;

                    & > attachLeft:after, & > attachRight:after {
                        transform: scale(1);
                    }

                    & > attachRight:hover:after {
                        transform: scale(1.1) translateX(15px);
                        background-color: #000;
                    }
        
                    & > attachLeft:hover:after {
                        transform: scale(1.1) translateX(-15px);
                        background-color: #000;
                    }

                    & > resizeLeft, & > resizeRight {
                        opacity: 100;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }

                &[data-hasChildren="true"] {
                    & shape indicatorLeft {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -50px;
                        right: 100%;
                        height: calc(var(--cellHeight) - 6px);
                        border-left: 3px solid #000;
                        background-image: url(../images/line.png);
                        background-repeat: repeat-x;
                        background-position: left center;
                    }

                    & shape indicatorRight {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: -50px;
                        left: 100%;
                        height: calc(var(--cellHeight) - 6px);
                        border-right: 3px solid #000;
                        background-image: url(../images/line.png);
                        background-repeat: repeat-x;
                        background-position: left center;
                    }

                    & expand {
                        display: block !important;
                        flex-shrink: 0;
                        position: relative;
                        transition: transform 0.2s ease-in-out;
                        cursor: pointer;
                        margin-right: 5px;

                        &:after {
                            display: block;
                            font-family: 'KanBoGanttIcons' !important;
                            content: "\e96d";
                            font-size: 12px;
                            color: #000;
                        }
                    }

                    & > header > expand {
                        margin-right: 0px !important;
                        position: absolute;
                        top: calc((var(--cellHeight) / 2) - 9px);
                        transition: transform 0.2s ease-in-out;
                        height: 16px;

                        &:after {
                            display: block;
                            font-family: 'KanBoGanttIcons' !important;
                            content: "\e96d";
                            font-size: 12px;
                            color: #000;
                        }
                    }

                    &.opened {
                        & > shape > container > expand {
                            transform: rotate(90deg);
                        }

                        & > header > expand {
                            transform: rotate(90deg);
                        }
                    }
                }

                &[data-hasVisibleChildren="true"] {
                    & expand {
                        transform: rotate(90deg);
                        background-position: 7px 6px;
                    }

                    & > header {
                        /*background-color: #d9d9d9;*/
                    }

                    & > header > expand {
                        transform: rotate(90deg) !important;
                        background-position: 7px 11px;
                    }
                }

                &.outOfParentStart {
                    & shape:before {
                        display: block;
                        content: ' ';
                        background-image: url(../images/nodeback.png);
                        height: 35px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 57px;
                        z-index: 0;
                        border-radius: 3px 0 0 3px;
                        opacity: 0.6;
                    }
                }

                &.outOfParentEnd {
                    & shape:after {
                        display: block;
                        content: ' ';
                        background-image: url(../images/nodeback.png);
                        height: 35px;
                        position: absolute;
                        top: 0;
                        left: 882px;
                        right: 0;
                        z-index: 0;
                        border-radius: 0 3px 3px 0;
                        opacity: 0.6;
                    }
                }

                &.danger, &.warning {
                    & > shape > container > span {
                        &:before {
                            display: inline-block;
                            font-family: 'KanBoGanttIcons' !important;
                            content: "\e9f8";
                            font-size: 16px;
                            margin-right: 5px;
                            color: #e65951;
                        }
                    }
                }

                &.warning {
                    & > shape > container > span:before {
                        color: #fb8c00 !important;
                    }
                }

/*
                &.danger shape, &.warning shape {
                    border: 2px solid #e65951;

                    & indicatorRight {
                        top: -2px;
                    }

                    & indicatorLeft {
                        top: -2px;
                    }

                    & attachRight, & attachLeft {
                        padding-top: calc((var(--cellHeight) - 25px) / 2);
                    }
                }

                &.warning shape {
                    border-color: #fb8c00;
                }

                &.warning.progressView shape:after, &.danger.progressView shape:after {
                    height: calc(var(--cellHeight) - 10px);
                    border-bottom: 0 none transparent;
                }
 */               
                &.done {
                    opacity: 0.5;

                    & > header {
                        color: gray;
                    }

                    & > shape {
                        border: 2px solid #68c768;
                        padding-top: 3px;

                        & attachRight, & attachLeft {
                            padding-top: calc((var(--cellHeight) - 25px) / 2);
                        }

                        & indicatorRight {
                            top: -2px;
                        }
    
                        & indicatorLeft {
                            top: -2px;
                        }
                    }
                }

                &.level1, &.level2, &.level3, &.level4, &.level5, &.level6, &.level7, &.level8, &.level9, &.level10 {
                    & > header {
                        border-left: 10px solid transparent;

                        & > span > span:first-child { width: calc(var(--column0) - 3px); min-width: calc(var(--column0) - 3px); }
                    }
                }

                &.level2 > header {
                    border-left-width: 20px;

                    & > span > span:first-child { width: calc(var(--column0) - 13px); min-width: calc(var(--column0) - 13px); }
                }
                
                &.level3 > header {
                    border-left-width: 30px;

                    & > span > span:first-child { width: calc(var(--column0) - 23px); min-width: calc(var(--column0) - 23px); }
                }
                
                &.level4 > header {
                    border-left-width: 40px;

                    & > span > span:first-child { width: calc(var(--column0) - 33px); min-width: calc(var(--column0) - 33px); }
                }
                
                &.level5 > header {
                    border-left-width: 50px;

                    & > span > span:first-child { width: calc(var(--column0) - 43px); min-width: calc(var(--column0) - 43px); }
                }
                
                &.level6 > header {
                    border-left-width: 60px;

                    & > span > span:first-child { width: calc(var(--column0) - 53px); min-width: calc(var(--column0) - 53px); }
                }
                
                &.level7 > header {
                    border-left-width: 70px;

                    & > span > span:first-child { width: calc(var(--column0) - 63px); min-width: calc(var(--column0) - 63px); }
                }
                
                &.level8 > header {
                    border-left-width: 80px;

                    & > span > span:first-child { width: calc(var(--column0) - 73px); min-width: calc(var(--column0) - 73px); }
                }
                
                &.level9 > header {
                    border-left-width: 90px;

                    & > span > span:first-child { width: calc(var(--column0) - 83px); min-width: calc(var(--column0) - 83px); }
                }
                
                &.level10 > header {
                    border-left-width: 100px;

                    & > span > span:first-child { width: calc(var(--column0) - 93px); min-width: calc(var(--column0) - 93px); }
                }

                &.newConnection > shape {
                    & > attachRight:after {
                        transform: scale(0.5) translateX(30px);
                        z-index: 19;
                        background-color: #000;
                        transition: transform 0.15s ease-in;
                    }

                    & > attachLeft:after {
                        transform: scale(0.5) translateX(-30px);
                        z-index: 19;
                        background-color: #000;
                    }
                }

                &:not(.group):not(.dummy):hover {
                    background-color: rgba(172, 198, 170, 0.5);

                    & > header {
                        background-color: rgba(172, 198, 170, 0.5);
                    }
                }
                
                &.hover {
                    background-color: rgba(172, 198, 170, 0.5);

                    & > header {
                        background-color: rgba(172, 198, 170, 0.5);
                    }
                }

                &.short {
                    & shape container {
                        position: absolute;
                        background-color: #dfdfdf;
                        font-size: 12px;
                        left: 30px;
                        padding: 6px 0;
                        width: auto;
                        text-indent: 5px;
                        display: flex;
                        white-space: nowrap !important;

                        & > expand {
                            top: -2px;
                            left: 5px;
                        }

                        & > span {
                            display: block;
                            margin-left: 2px;
                            margin-right: 0 !important;
                            min-width: 0 !important;
                        }

                        & user {
                            display: none !important;
                        }
                    }
                }

                &.short.group {
                    & shape > container > span {
                        margin-right: 10px !important;
                    }
                }

                &.hideUser shape container user {
                    display: none !important;
                }
            }
        }
        
        & > columns {
            display: block;
            height: 100%;
   
            & > column {
                display: block;
                position: relative;
                width: 50px;
                height: 100%;
                float: left;
                text-align: center;
                box-sizing: border-box;
                border-left: 1px solid #e6e6e6;
                background-color: #eeeeeefa;
                transition: background-color 0.2s ease-out;

                & > header { 
                    display: block;
                    height: 50px;
                    width: auto;
                    background-color: #eeeeee;
                    box-sizing: border-box;
                    padding-top: 29px;
                    transition: background-color 0.2s ease-out;
                    line-height: 14px;

                    & > div > new {
                        text-transform: uppercase;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        background-color: rgba(113, 160, 165, 0.5);
                        text-align: left;
                        white-space: nowrap;
                        z-index: 19;
                    }

                    & > div {
                        font-size: 12px;
                        font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        display: inline-block;
                        padding-bottom: 2px;
                        border-bottom: 1px solid #d0d0d0;
                    }

                    & > div > span {

                        &:first-child {
                            font-size: 12px;
                            margin-right: 3px;
                        }
                        
                        &:last-child {
                            font-size: 10px;
                            color: gray;
                        }
                    }
                }

                &.newTimePart {
                    border-left: 2px solid lightgray !important;
                }
                
                &.weekend {
                    background-color: #f5f5f5fa;
                    
                    & > header {
                        background-color: #f5f5f5fa;
                        border-bottom: 1px solid transparent;

                        & > div > span {
                            opacity: 0.5;
                        }
                    }
                }

                &.today {
                    background-color: rgba(172, 198, 170, 0.98);

                    & > header {
                        background-color: rgba(172, 198, 170, 0.98);;
                    }

                    &:hover {
                        background-color: rgba(33, 150, 243, 0.6) !important;

                        & span {
                            color: #fff !important;
                        }
                    }
                }

                &:hover, &.hover {
                    background-color: rgba(33, 150, 243, 0.6);

                    & > header {
                        background-color: rgba(33, 150, 243, 0.6);

                        & span {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }

    &.fullView {
        & > #viewport {
            left: 0;

            & > items > item > header {
                display: none !important;
            }
        }
        
        & > listHeader {
            display: none !important;
        }
    }

    &.hideItemHeader {
        & > #viewport {
            left: 50px;

            & > items > item > header {
                display: none !important;
            }
        }
        
        & > listHeader {
            width: 50px !important;
            height: 100%;

            & > resize {
                display: none !important;
            }

            & > pinlist:after {
                content: "\ea02" !important;
            }
        }
    }

    &.xl item:not(.short) > shape > container > span {
        white-space: pre-wrap !important;
        -webkit-line-clamp: 2 !important;
        display: -webkit-box !important;
    }

    & .noperm {
        & div.noDate-setOne, & attachLeft, & attachRight, & resizeLeft, & resizeRight {
            display: none !important;
        }
    }
}