:root {
    /* Available colors */
    --timeline-color-base-1: #fff;
    --timeline-color-base-2: #000;
    --timeline-color-base-3: #dcdcdc;
    --timeline-color-0     : #880e4f;
    --timeline-color-1     : #e50046;
    --timeline-color-2     : #f44336;
    --timeline-color-3     : #fb8c00;
    --timeline-color-4     : #ffb300;
    --timeline-color-5     : #83b92a;
    --timeline-color-6     : #43a047;
    --timeline-color-7     : #2e7d32;
    --timeline-color-8     : #00bcd4;
    --timeline-color-9     : #2196f3;
    --timeline-color-10    : #3d5afe;
    --timeline-color-11    : #303f9f;
    --timeline-color-12    : #5e35b1;
    --timeline-color-13    : #4a148c;
    --timeline-color-14    : #37474f;
    --timeline-color-15    : #212121;


    /* Timeline theme */
    --app-background-color: var(--timeline-color-base-1);
    --app-backgroung-image: none;

    --app-logo-color-part-1: var(--timeline-color-base-2);
    --app-logo-color-part-2: var(--timeline-color-base-1);

    --app-notifi-icon-color: var(--timeline-color-base-2);

    --timeline-header-background: var(--timeline-color-base-3);
}